table,td,th {
    margin-left: 520px;
    border: 4px solid rgb(58, 58, 58);
    border-collapse: collapse;
    width: 500px;
   
}


td {
    border: 2px solid rgb(88, 114, 193);
    border-collapse: collapse;
    background-color: rgb(122, 197, 122);

}

th {
    
    background-color: cadetblue;
    font-size: 25px;
    text-align: center;
    gap: 30px
}

.TEXTO{
background-color: rebeccapurple;

}